.button {
  color: #ffffff;
  height: 45px;
  border-radius: 5px;
  font-size: 26px;
  text-align: center;
}

.button--grey {
  background-color: #627b8b;
}

.button--light-blue {
  background-color: #3498db;
}
