.hcard {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.hcard-builder {
  width: 48%;
  padding: 50px;
  text-align: left;
}

.preview {
  width: 52%;
  background-color: #e1e4e7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hcard-builder__button {
  width: 302px;
}

.preview__title {
  text-align: right;
}
