.hcard {
  display: flex;
}

.hcard-builder {
  padding: 50px;
  text-align: left;
}

.hcard-builder__preview {
  min-height: 100vh;
  background-color: #e1e4e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hcard-builder__button {
  width: 302px;
}

.hcard-builder__preview-header {
  text-align: right;
  width: 82%;
}

.hcard-builder__preview-title {
  margin-bottom: 5px;
}

@media only screen and (min-width: 1440px) {
  .hcard {
    justify-content: space-evenly;
  }

  .hcard-builder {
    width: 48%;
  }

  .hcard-builder__preview {
    width: 52%;
  }
}

@media only screen and (max-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .hcard {
    flex-direction: column;
  }

  .hcard-builder {
    width: 100%;
  }

  .hcard-builder__preview {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* default iPad screens */
  .hcard {
    flex-direction: column;
  }

  .hcard-builder {
    width: 100%;
  }

  .hcard-builder__preview {
    width: 100%;
  }
}

