.preview-field {
  display: flex;
  align-items: baseline;
  min-height: 28px;
}

.preview-field__label {
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 11px;
  // padding-right: 20px;
  padding-bottom: 1px;
  width: 20%;
}

.preview-field__text {
  font-family: 'Merriweather', serif;
  font-size: 22px;
}
